.MuiSlider-thumb {
  color: var(--primary-200);
}

.MuiSwitch-thumb {
  color: var(--primary-200);
}
.css-byenzh-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked+.MuiSwitch-track {
    background-color: var(--primary-100) !important;
}
.MuiTouchRipple-root {
  color: var(--primary-100) !important;
}
.MuiSlider-rail {
  color: var(--primary-200);
}
.MuiSlider-track {
  color: var(--primary-200);
}
