.imageUploadContainer {
  overflow: hidden;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background-color: var(--primary-100);
  position: relative;
  transition: 0.3s ease;

  &_active {
    &:hover {
      background-color: var(--primary-200);

      .uploadPlaceholder {
        &__plusIcon {
          background-color: var(--primary-200);
        }
      }
    }
  }

  &_disabled {
    opacity: 0.7;
    cursor: unset;
  }
}

.imageUpload {
  border-radius: 20px;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.uploadPlaceholder {
  color: var(--text-100);

  &__iconHolder {
    position: relative;
  }

  &__imageIcon {
    font-size: 40px;
  }

  &__plusIcon {
    transition: 0.3s ease;
    border-radius: 50%;
    left: 60%;
    top: 45%;
    background-color: var(--primary-100);
    padding: 3px;
    position: absolute;
    font-size: 25px;
  }
}

.imageListHolder {
  position: relative;
}

.imageList {
  padding: 10px;
  position: relative;
  display: flex;
  gap: 10px;
  max-width: 300px;
  overflow: auto;
}

.limit {
  border-radius: 5px;
  padding: 10px;
  bottom: 50px;
  left: 20px;
  z-index: 10;
  font-weight: 500;
}

.imageItem {
  overflow: hidden;
  border-radius: 20px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  min-width: 300px;
  min-height: 300px;

  @media (max-width: 500px) {
    min-height: 200px;
    min-width: 200px;
  }
}

.removeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--primary-100);
  transition: 0.3s ease;

  &:hover {
    background-color: var(--primary-200);
  }

  &__icon {
    color: var(--text-100);
  }
}

.image {
  object-fit: cover;
  width: 300px;
  height: 300px;
}

.imageUploadHolder {
  width: 100%;
  gap: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
